body {
    background:blue url('../img/DSC_0532AA.JPG') no-repeat;
}

h1{
    color: white;
}
 p{
    color: white;
    font-size: 24px;
}
/*
.second{
    color: red;
}
.first{
    color: green;
} */
.wrapper {
    background-color: black;
}