body {
    background:blue url('../img/DSC_0532AA.JPG') no-repeat;
}

h1{
    text-align: left;
    color: white;
    padding-left: 10px;
    text-decoration: line-through;
    text-transform: uppercase;
}

p{
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 24px;
    text-decoration: underline;
}

.wrapper {
    background-color: black;
}

.first {
    text-indent: 100px;
}