body {
    background:blue url('../img/DSC_0532AA.JPG') no-repeat;
}

h1{
    text-align: left;
    color: white;
    padding-left: 10px;
    text-decoration: line-through;
    text-transform: uppercase;
}

p{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-decoration: underline;
}

.wrapper {
    background-color: black;
    width: 80%;
    height: 400px;
}

.wrapper a:hover {
    background: red;
}

.wrapper a:active {
    background: white;
}

.first {
    font:italic small-caps 900 1.4em Helvetica, Arial, sans-serif;
}