.counterAccordion button{
  background-color: #454c5a;
  margin: 20px 30px;
  color: white;
  font-size: 20px;
}

.counterAccordion{
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}

.App-header button{
  width: 100w;
  height: 70px;
  font-size: 30px;
  background-color: #454c5a;
  color: white;
  margin: 5px 120px;
}

.App-link {
  color: #61dafb;
}

.button {
  font-size: 100%;
  background-color: #bcb315;
}