.pageManager button{
  background-color: #454c5a;
  margin: 20px 30px;
  color: white;
  font-size: 20px;
}

.pageManager{
  background-color: #282c34;
}

.render {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}

.App-header button{
  width: 100w;
  height: 70px;
  font-size: 30px;
  background-color: #454c5a;
  color: white;
  margin: 5px 120px;
}

.App-header input {
  width: 80vw;
  height: 50px;
  font-size: large;
  font-weight: bold;
  margin: 0px 10vw;
  position: absolute;
  background-color: #454c5a;
  color: white;
}

.inputText {
  height: 20px;
  position: relative;
}

.button {
  font-size: 100%;
  background-color: #bcb315;
}