.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

.site-header {
    background: #3f51b5;
    color: #fff;
    padding: 10px 5%;
    box-shadow: 0 1px 3px #444;
}

.site-header h1 { /* a site header that is && an h1*/
    margin: 0%;
    font-size: 50px;
    float: left;
}

.main-nav {
    float: right;
}
.main-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-nav ul li {
    display: inline;
}
.main-nav ul li a {
    text-decoration: none;
    color: white;
}

/* h1 {
    color: #90c233;
} */

/*
#main-text {
    color:rgb(72, 134, 189);
}
*/

.intro-text {
    font-size: 18px;
}

.billboard {
    background: #7a3030;
    text-align: center;
    padding: 40px;
    color: aliceblue;
}
.billboard h2 {
    margin-top: 0%;
}
.aside {
    float: right;
    width: 20%;
    background: #564360;
    padding: 20px 5%;
    color: #d7ffc8;
}
.main-col {
    float: left;
    width: 70%;
    background: #008b8b;
    color: #d7ffc8;
}